body {
  background: #0a0a0a;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 30px;
  border-bottom: 1px solid #222;
}

h1 {
  color: #b980ff;
  font-size: 40px;
  margin: 0;
}

.game-box {
  background: #111;
  padding: 15px;
  border-radius: 8px;
  margin: 15px auto;
  width: 85%;
  border: 1px solid #2a2a2a;
}

button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
}

.copy-btn {
  background: #b980ff;
  color: black;
}

.raw-btn {
  background: #333;
  color: white;
}
